<div class="navbar">
  <div class="navbar--list">
    <div class="button-menu">
      <img alt="icon" src="assets/icons/home.svg" />
    </div>
    <div class="button-menu">
      <img alt="icon" src="assets/icons/user.svg" />
    </div>
    <div class="button-menu">
      <img alt="icon" src="assets/icons/back-two-arrows.svg" />
    </div>
  </div>
  <div class="navbar--fixed">
    <div [routerLink]="'/login'" class="button-menu">
      <img alt="icon" src="assets/icons/log-out.svg" />
    </div>
  </div>
</div>
