
<div class="navbar">
  <div class="navbar--list">
    <div (click)="back()" class="button-menu mb-15">
      <img alt="icon" src="assets/icons/back-two-arrows.svg" />
    </div>

    <div [routerLink]="'/home'" class="button-menu">
      <img alt="icon" src="assets/icons/home.svg" />
    </div>

    <div *ngIf="isUserLogged" [routerLink]="'/user'" class="button-menu">
      <img alt="icon" src="assets/icons/user.svg" />
    </div>

    <div *ngIf="user?.roles?.includes('admin')" [routerLink]="'/new-course'" class="button-menu">
      <img alt="icon" src="assets/icons/course.svg" />
    </div>
  </div>
  <div class="navbar--fixed">
    <div (click)="logoutOrLoginUser()" class="button-menu">
      <img [class.rotate]="!isUserLogged" alt="icon" src="assets/icons/log-out.svg" />
    </div>
  </div>
</div>
