<div class="navbar">
  <app-navbar></app-navbar>
</div>

<div class="course">
  <div *ngIf="isLoadingCourse" class="course--loading">
    <app-loading [size]="75"></app-loading>
  </div>

  <div *ngIf="!isLoadingCourse" class="course--title">
    <div class="course--title--favorite">
      <h5>{{ course?.name || '-' }}</h5>
      <button (click)="manageFavoriteCourse()" class="{{ isFavorite ? 'primary-button' : 'default-button' }}">{{ isFavorite ? 'Remover Favorito' : '+ Favoritar' }}</button>
    </div>

    <img [src]="user?.imageUrl || 'assets/imgs/register-card-image.jpg'" alt="user" />
  </div>

  <div *ngIf="!isLoadingCourse" class="course--content">
    <div class="course--content--lesson">
      <iframe *ngIf="currentLesson?.videoUrl" [src]="embed(currentLesson!.videoUrl!) | safeResourceUrl"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>
      <div *ngIf="!currentLesson?.videoUrl"  class="course--content--lesson--no-content">
        <h6>Nenhuma aula selecionada!</h6>
      </div>
      <div class="course--content--lesson--name">
        {{ currentLesson?.title || 'Sem titulo' }}
      </div>
      <div class="course--content--lesson--description">
        {{ currentLesson?.description || 'Sem descrição' }}
      </div>
    </div>

    <div class="course--content--modules">
      <div *ngIf="modules.length !== 0 && !isLoadingCourse" class="course--content--modules--progress">
        <ng-container *ngFor="let module of modules; let i = index">
          <div class="progress"
               [class.hidden-progress]="selectedModule?.id !== module.id && i === modules.length - 1">
            <div class="progress--point"></div>
          </div>
          <div class="progress-lesson-list"
               [class.progress-lesson-list-show]="selectedModule?.id === module.id">
            <div class="less"
                 *ngFor="let lesson of module.lessons; let j = index"
                 [class.hidden-less]="i === modules.length - 1 && j === module.lessons.length - 1">
              <div class="less--point"></div>
            </div>
          </div>
        </ng-container>
      </div>

      <div *ngIf="modules.length === 0 && !isLoadingCourse" class="course--content--modules--not-content">
        <h5>Nenhum modulo foi <br> econtrado nesse curso, aguarde!</h5>
      </div>

      <div *ngIf="modules.length !== 0 && !isLoadingCourse" class="course--content--modules--options">
        <div *ngFor="let module of modules" class="option">
          <h4 (click)="selectModule(module)"
              [class.selected-option]="selectedModule?.id === module.id">
            {{ module.title }}
          </h4>
          <div class="option--lessons" [class.show]="selectedModule?.id === module.id">
            <div (click)="currentLesson = lesson"
                 [class.selected-lesson]="currentLesson?.id === lesson.id"
                 *ngFor="let lesson of module.lessons" class="lesson">
              {{ lesson.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="needRegisterInCourse" class="modal-modules">
  <div class="modal-modules--content">
    <img [src]="course?.imageUrl || 'assets/imgs/register-card-image.jpg'"  />

    <div class="modal-modules--content--description">
      <h4>{{ course?.name }}</h4>

      <h5>{{ course?.description }}</h5>
      <h6>Esse curso contem {{ course?.modules?.length }} modulos com {{ amountClass }} aulas.</h6>

      <button (click)="registerInCourse()" class="primary-button bm-5">Matricular-se</button>
      <button (click)="back()" class="danger-button">Cancelar</button>
    </div>
  </div>
</div>
