:host {
  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: #121128;
}

.navbar {
  padding: 2.5rem 0 0 2.5rem;
}

.course {
  padding: 2.5rem 2rem 2rem 2rem;
  overflow: auto;
  flex: 1;

  &--loading {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
  }

  &--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &--favorite {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        position: relative;

        width: 30%;
        padding-top: 0.9rem;

        font-size: 1.7rem;
        font-weight: bold;
        color: white;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 16%;
          height: 0.3rem;
          background-color: white;
        }
      }
    }

    img {
      width: 3.2rem;
      height: 3.2rem;

      border-radius: 0.7rem;
      object-fit: cover;
      border: solid #BA46E1 0.2rem;
    }
  }

  &--content {
    display: flex;
    width: 100%;

    &--lesson {
      width: 70%;

      iframe {
        width: 100%;
        height: 32vw;
      }

      &--no-content {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 32vw;

        h6 {
          color: white;
          font-weight: bold;
          font-size: 1.5rem;
        }
      }

      &--name {
        margin: 0.6rem 0;

        color: white;
        font-size: 1.4rem;
        font-weight: bold;
      }

      &--description {
        color: white;

      }
    }

    &--modules {
      display: flex;
      width: 30%;

      &--not-content {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        margin: 0 1rem;
        border-radius: 22px;
        background-color: #241F40;

        h5 {
          font-size: 1.5rem;
          color: white;
          text-align: center;
        }
      }

      &--progress {
        margin: 0 1rem;

        .progress {
          position: relative;
          display: flex;
          justify-content: center;

          height: 2.8rem;
          width: 2.8rem;
          margin-bottom: 0.3rem;

          &:after {
            position: absolute;
            content: "";
            top: 1.3rem;
            width: 0.25rem;
            height: 3rem;
            background-color: #777777;
          }

          &--point {
            height: 1rem;
            width: 1rem;
            z-index: 1;
            margin: auto;

            border-radius: 50%;
            background-color: #777777;
          }
        }

        .hidden-progress {
          &:after {
            visibility: hidden;
          }
        }

        .progress-lesson-list-show {
          height: auto !important;
          overflow: initial !important;
        }

        .progress-lesson-list {
          display: flex;
          flex-direction: column;
          align-items: center;

          height: 0;
          overflow: hidden;

          .hidden-less {
            &:after {
              visibility: hidden;
            }
          }

          .less {
            display: flex;
            justify-content: center;
            position: relative;

            height: 2.3rem;
            width: 2.3rem;
            margin-bottom: 0.3rem;

            &:after {
              position: absolute;
              content: "";
              top: 1.15rem;
              width: 0.25rem;
              height: 3rem;
              background-color: #777777;
            }

            &--point {
              height: 0.6rem;
              width: 0.6rem;
              margin: auto;

              border-radius: 50%;
              background-color: #777777;
            }
          }
        }
      }

      &--options {
        width: 100%;

        .option {
          width: 100%;

          .selected-option {
            color: #006494 !important;
          }

          h4 {
            transition: all 0.3s ease-in-out;

            width: 100%;
            height: 2.8rem;
            padding: 0 1.1rem;
            margin-bottom: 0.3rem;
            cursor: pointer;

            color: #999999;
            line-height: 2.8rem;
            border-radius: 0.4rem;
            background-color: #1D1933;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              transform: scale(1.05);
            }
          }

          &--lessons {
            height: 0;
            overflow: hidden;

            .selected-lesson {
              color: #006494 !important;
            }

            .lesson {
              transition: all 0.3s ease-in-out;

              height: 2.3rem;
              padding: 0 1.1rem;
              margin-left: 1.1rem;
              margin-bottom: 0.3rem;

              color: #999999;
              line-height: 2.3rem;
              border-radius: 0.4rem;
              background-color: #1D1933;
              font-weight: bold;
              cursor: pointer;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}

.show {
  height: auto !important;
}


.modal-modules {
  animation: toup 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  padding: 10rem 13rem;
  background-color: rgba(0, 0, 0, 0.6);

  &--content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 22px;
    background-color: #121128;

    img {
      width: 40%;
      border-radius: 22px 0 0 22px;
      overflow: hidden;
      object-fit: cover;
    }

    &--description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      flex: 1;
      padding: 1.5rem;

      h4 {
        color: white;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      h5 {
        color: white;
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: 0.2rem;
      }

      h5 {
        color: white;
        font-size: 1.2rem;
      }

      h6 {
        color: white;
        font-size: 1.3rem;
      }

      button {
        margin-top: 0.6rem;
      }
    }
  }
}

@keyframes toup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.bm-5 {
  margin-top: 4.5rem !important;
}
