<div class="user">
  <div class="user--container">
    <app-navbar></app-navbar>

    <div class="user--container--content">
      <div class="user--container--content--infos">
        <div class="user--container--content--infos--image">
          <img alt="user-image" [src]="user?.imageUrl || 'assets/imgs/register-card-image.jpg'" />
          <a href="https://pt.gravatar.com/emails/" target="_blank">Editar</a>
        </div>

        <div class="user--container--content--infos--data">
          <label>Nome</label>
          <h5>{{ user?.name }}</h5>

          <label>E-mail</label>
          <h5>{{ user?.email }}</h5>
        </div>

        <button (click)="logout()">Deslogar</button>
      </div>

      <div class="user--container--content--activites">
        <h4>Seus cursos matriculados</h4>

        <div class="user--container--content--activites--courses">
          <app-course-card *ngFor="let withProgress of withProgressCourses"
                           [backgroundImage]="withProgress.imageUrl"
                           [courseName]="withProgress.name"
                           [tagName]="withProgress?.category"
                           [routerLink]="'/course/' + this.withProgress?.id"
          ></app-course-card>
          <div class="user--container--content--activites--courses--not-content" *ngIf="!isLoadingCourses && withProgressCourses.length === 0">
            <h5>Nenhum curso em progresso!</h5>
          </div>

          <app-loading *ngIf="isLoadingCourses" [size]="50"></app-loading>
        </div>
      </div>

      <div class="user--container--content--favorites">
        <h4>Seus favoritos</h4>

        <div class="user--container--content--favorites--courses">
          <app-course-card *ngFor="let favorite of favoriteCourses"
                           [backgroundImage]="favorite.imageUrl"
                           [courseName]="favorite.name"
                           [tagName]="favorite?.category"
                           [routerLink]="'/course/' + this.favorite?.id"
          ></app-course-card>
          <div class="user--container--content--favorites--courses--not-content" *ngIf="!isLoadingCourses && favoriteCourses.length === 0">
            <h5>Nenhum curso em seus favoritos!</h5>
          </div>

          <app-loading *ngIf="isLoadingCourses" [size]="50"></app-loading>
        </div>
      </div>
    </div>
  </div>
</div>
