<div class="user">
  <div class="user--container">
    <app-navbar></app-navbar>

    <div class="user--container--content">
      <div class="user--container--content--infos">
        <div class="user--container--content--infos--image">
          <img alt="user-image" src="assets/imgs/register-card-image.jpg" />
          <p>alterar</p>
        </div>

        <div class="user--container--content--infos--data">
          <label>Nome</label>
          <h5>Higor Lins</h5>

          <label>E-mail</label>
          <h5>higordasilvalins@gmail.com</h5>
        </div>

        <button>Deslogar</button>
      </div>

      <div class="user--container--content--activites">
        <h4>Seus cursos com progresso</h4>

        <div class="user--container--content--activites--courses">
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
        </div>
      </div>

      <div class="user--container--content--favorites">
        <h4>Seus favoritos</h4>

        <div class="user--container--content--favorites--courses">
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
          <app-course-card></app-course-card>
        </div>
      </div>
    </div>
  </div>
</div>
