.user {
  width: 100%;
  height: 100vh;

  overflow: auto;
  background-color: #121128;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: white 0 0 no-repeat padding-box;
    border-radius: 1rem;
  }

  &--container {
    width: 100%;
    display: flex;

    app-navbar {
      padding: 2.5rem 0 0 2.5rem;
    }

    &--content {
      flex: 1;
      overflow: hidden;
      padding: 2.5rem 7.5rem 2.5rem 2.5rem;

      &--infos {
        display: flex;

        background: #241F40;
        width: 100%;
        height: auto;
        padding: 2rem;

        border-radius: 0.7rem;

        &--image {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 7rem;
            height: 7rem;

            border-radius: 0.7rem;
            object-fit: cover;
            border: solid #BA46E1 0.2rem;
          }

          & > a {
            transition: all 0.3s ease-in;
            margin-top: 1rem;

            color: #666666;
            font-weight: bold;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
              color: white;
              opacity: 1;
            }
          }
        }

        &--data {
          margin: 0 1.8rem;
          flex: 1;

          & > label {
            color: #AAAAAA;
            font-weight: lighter;
          }

          & > h5 {
            color: white;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
        }

        & > button {
          transition: color 0.3s ease-in;

          height: 2rem;
          width: auto;
          padding: 0 1.2rem;
          margin: auto 0 0 0;

          background-color: #a90301;
          border: none;
          border-radius: 1rem;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: #d30401
          }
        }
      }

      &--activites {
        overflow: hidden;
        padding: 1rem;

        h4 {
          color: white;
          margin: 1.1rem 0;
          font-size: 1.2rem;
        }

        &--courses {
          width: 100%;
          min-height: 11rem;
          overflow: auto;

          display: grid;
          grid-template-columns: repeat(5, 1fr);
          position: relative;

          gap: 2.5rem;

          app-loading {
            min-height: 11rem;
            width: 100%;
            position: absolute;
          }

          &--not-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;

            width: 100%;
            min-height: 11rem;

            h5 {
              width: 80%;
              font-size: 1.5rem;
              color: white;
              text-align: center;
            }
          }


          @media (max-width: 1600px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }

      &--favorites {
        overflow: hidden;
        padding: 1rem;

        h4 {
          color: white;
          margin: 1.1rem 0;
          font-size: 1.2rem;
        }

        &--courses {
          width: 100%;
          min-height: 11rem;
          position: relative;

          display: grid;
          grid-template-columns: repeat(5, 1fr);

          gap: 2.5rem;

          app-loading {
            min-height: 11rem;
            width: 100%;
            position: absolute;
          }

          &--not-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;

            width: 100%;
            min-height: 11rem;

            h5 {
              width: 80%;
              font-size: 1.5rem;
              color: white;
              text-align: center;
            }
          }

          @media (max-width: 1600px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
}
