<div class="new-course">
  <div class="new-course--container">
    <app-navbar></app-navbar>

    <div class="new-course--container--content">
      <h4>Cursos cadastrados (click para editar)</h4>

      <app-search-bar-input (onChangeValue)="loadCourses($event)"></app-search-bar-input>

      <div class="new-course--container--content--courses">
        <ng-container *ngIf="courseList.length !== 0">
          <app-course-card *ngFor="let course of courseList"
                           [tagName]="course.category || '-'"
                           [courseName]="course.name || '-'"
                           [backgroundImage]="course.imageUrl"
                           (click)="editCourse(course.id)">
          </app-course-card>
        </ng-container>
        <app-loading *ngIf="isLoadingCourseList" [size]="60"></app-loading>
        <div class="not-content" *ngIf="!isLoadingCourseList && courseList.length === 0">
          <h5>Nenhum curso encontrado!</h5>
        </div>
      </div>

      <div class="new-course--container--content--courses--line"></div>

      <div *ngIf="courseCreationStatus === creationStatusEnum.NONE"
           class="new-course--container--content--not-content">
        <h5>Clique em um curso para editar, <br> ou crie um novo clicando no botão abaixo</h5>
        <button class="primary-button" (click)="openFormsToCreateNewCourse()">
          Novo Curso
        </button>
      </div>

      <div *ngIf="courseCreationStatus !== creationStatusEnum.NONE"
           class="new-course--container--content--form">
        <div class="new-course--container--content--form--image-input">
          <img [style.display]="isValidImage ? 'none' : 'block'" alt="register-card"
               src="assets/imgs/register-card-image.jpg"
          />
          <img [style.display]="!isValidImage ? 'none' : 'block'"
               #img
               alt="register-card"
               [src]="course.imageUrl"
               (error)="isValidImage = false"
               (load)="isValidImage = true"
          />
        </div>

        <div class="new-course--container--content--form--base-info">
          <div class="input-container">
            <label>Nome do curso</label>
            <input [(ngModel)]="course.name" placeholder="Nome do curso" />
          </div>

          <div class="input-container">
            <label>Imagem do curso</label>
            <input [(ngModel)]="course.imageUrl" placeholder="Imagen do curso" />
          </div>

          <div class="input-container">
            <label>Categoria</label>
            <input [(ngModel)]="course.category" placeholder="Categoria do curso" />
          </div>

          <div class="input-container">
            <label>Autor</label>
            <input [(ngModel)]="course.author" placeholder="Nome do autor (opcional)" />
          </div>

          <div class="input-container">
            <label>Descrição</label>
            <input [(ngModel)]="course.description" placeholder="Descrição do curso" />
          </div>
        </div>

        <div class="new-course--container--content--form--modules">
          <div class="new-course--container--content--form--modules--manage">
            <h4>Gerencie os modulos do seu curso</h4>
            <button [class.disable]="courseCreationStatus !== creationStatusEnum.UPDATING"
                    class="info-button"
                    (click)="activeModuleCrudAndLoadModulesByCourse()">Gerenciar Modulos</button>
          </div>
        </div>

        <div class="new-course--container--content--form--buttons">
          <button *ngIf="courseCreationStatus === creationStatusEnum.UPDATING" (click)="deleteCourse(course?.id)" class="danger-button">
            Deletar
          </button>

          <button (click)="courseCreationStatus = creationStatusEnum.NONE" class="danger-button">
            Cancelar
          </button>

          <button (click)="createOrUpdateCourse()" class="primary-button">
            {{ creationRecordButtonLocal[courseCreationStatus] }}
            <app-loading *ngIf="isCreatingOrEditingCourse" [size]="20"></app-loading>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isManagingModules" class="modal-modules">
  <div class="modal-modules--content">
    <img (click)="finishModuleEdit()" class="close" alt="icon" src="assets/icons/close.svg" />

    <div class="modal-modules--content--header">
      <h5>Gerencie os modulos do curso {{ course.name }}</h5>
      <button (click)="moduleCreationStatus = creationStatusEnum.CREATING" class="primary-button">{{ creationRecordTextLocal[moduleCreationStatus] }}</button>
    </div>

    <div *ngIf="moduleCreationStatus === creationStatusEnum.NONE" class="modal-modules--content--list">
      <div *ngFor="let module of moduleList" class="module">
        <div class="module--name-option">
          <span>{{ module.title || '-' }}</span>
          <div class="module--name-option--options">
            <img (click)="deleteModule(module?.id)" alt="icon" src="assets/icons/trash.svg" />
            <img (click)="activeEditeModule(module)" alt="icon" src="assets/icons/edit.svg" />
            <img (click)="activeLessonCrudAndLoadLessonsByModule(module)" alt="icon" src="assets/icons/plus.svg" />
          </div>
        </div>
      </div>

      <app-loading *ngIf="isLoadingModuleList" [size]="85"></app-loading>
      <h5 *ngIf="!isLoadingModuleList && this.moduleList.length === 0">Não existe nenhum modulo cadastrado no momento</h5>
    </div>

    <div *ngIf="moduleCreationStatus !== creationStatusEnum.NONE" class="model-modules--content--forms">
      <div class="input-container">
        <label>Nome</label>
        <input [(ngModel)]="module.title" type="text" maxlength="200" placeholder="Digite o nome do modulo" />
      </div>

      <div class="operational-buttons">
        <button (click)="cancelModule()" class="danger-button">Cancelar</button>
        <button (click)="createOrUpdateModule()" class="primary-button">
          {{  creationRecordButtonLocal[moduleCreationStatus] }}
          <app-loading *ngIf="isCreatingOrUpdatingModule" [size]="20"></app-loading>
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isManagingLessons" class="modal-modules">
  <div class="modal-modules--content">
    <img (click)="finishLessonEdit()" class="close" alt="icon" src="assets/icons/close.svg" />

    <div class="modal-modules--content--header">
      <h5>Gerencie as aulas do modulo {{ module.title }}</h5>
      <button (click)="lessonCreationStatus = creationStatusEnum.CREATING" class="primary-button">{{ creationRecordTextLocal[lessonCreationStatus] }}</button>
    </div>

    <div *ngIf="lessonCreationStatus === creationStatusEnum.NONE" class="modal-modules--content--list">
      <div *ngFor="let lesson of lessonList" class="module">
        <div class="module--name-option">
          <span>{{ lesson.title || '' }}</span>
          <div class="module--name-option--options">
            <img (click)="deleteLesson(lesson.id)" alt="icon" src="assets/icons/trash.svg" />
            <img (click)="activeEditeLesson(lesson)" alt="icon" src="assets/icons/edit.svg" />
          </div>
        </div>
      </div>

      <app-loading *ngIf="isLoadingLessonList" [size]="85"></app-loading>
      <h5 *ngIf="!isLoadingLessonList && this.lessonList.length === 0">Não existe nenhuma aula cadastrada no momento</h5>
    </div>

    <div *ngIf="lessonCreationStatus !== creationStatusEnum.NONE" class="model-modules--content--forms">
      <div class="input-container">
        <label>Titulo</label>
        <input [(ngModel)]="lesson.title" type="text" maxlength="200" placeholder="Digite o nome do modulo" />
      </div>

      <div class="input-container">
        <label>Descrição</label>
        <input [(ngModel)]="lesson.description" type="text" maxlength="200" placeholder="Digite o nome do modulo" />
      </div>

      <div class="input-container">
        <label>URL da aula</label>
        <input [(ngModel)]="lesson.videoUrl" type="text" maxlength="200" placeholder="Digite o nome do modulo" />
      </div>

      <div class="operational-buttons">
        <button (click)="cancelLesson()" class="danger-button">Cancelar</button>
        <button (click)="createOrUpdateLesson()" class="primary-button">
          {{  creationRecordButtonLocal[lessonCreationStatus] }}
          <app-loading *ngIf="isCreatingOrUpdatingLesson" [size]="20"></app-loading>
        </button>
      </div>
    </div>
  </div>
</div>
