.new-course {
  width: 100%;
  height: 100vh;

  overflow: auto;
  background-color: #121128;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: white 0 0 no-repeat padding-box;
    border-radius: 1rem;
  }

  &--container {
    width: 100%;
    display: flex;

    app-navbar {
      padding: 2.5rem 0 0 2.5rem;
    }

    &--content {
      flex: 1;
      overflow: hidden;
      width: 100%;
      padding: 2.5rem 7.5rem 2.5rem 2.5rem;

      & > h4 {
        color: white;
        margin: 1.1rem 0;
        font-size: 1.2rem;
      }

      &--courses {
        width: 100%;
        min-height: 11rem;
        margin-top: 1.5rem;
        overflow-x: auto;
        overflow-y: hidden;

        display: flex;

        app-course-card {
          width: 20% !important;
        }

        gap: 2.5rem;

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: white 0 0 no-repeat padding-box;
          border-radius: 1rem;
        }

        &--line {
          width: 100%;
          height: 2px;
          border-radius: 12%;
          background-color: white;
          margin: 1.5rem 0;
        }

        @media (max-width: 1600px) {
          app-course-card {
            width: 25% !important;
          }
        }

        @media (max-width: 1300px) {
          app-course-card {
            width: 33% !important;
          }
        }

        @media (max-width: 1000px) {
          app-course-card {
            width: 50% !important;
          }
        }

        @media (max-width: 768px) {
          app-course-card {
            width: 100% !important;
          }
        }
      }

      &--form-status {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > h4 {
          color: white;
          margin: 1rem 0;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }

      &--not-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        h5 {
          width: 80%;
          margin: 1.5rem 0;

          font-size: 1.5rem;
          color: white;
          text-align: center;
        }
      }

      &--form {
        &--image-input {
          display: flex;
          align-items: center;
          flex-direction: column;

          width: 100%;

          img {
            width: 13rem;
            height: 13rem;

            border-radius: 0.7rem;
            object-fit: cover;
            border: solid #BA46E1 0.2rem;
          }

          & > p {
            transition: all 0.3s ease-in;
            margin-top: 1rem;

            color: #666666;
            font-weight: bold;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
              color: white;
              opacity: 1;
            }
          }
        }

        &--base-info {

        }

        &--modules {
          &--manage {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > h4 {
              color: white;
              margin: 1rem 0;
              font-weight: bold;
              font-size: 1.2rem;
            }
          }

          &--list {
            .module {
              padding: 1.4rem;
              margin-bottom: 1rem;
              border-radius: 22px;
              background: #241F4055;

              &--name-option {
                display: flex;
                justify-content: space-between;

                & > span {
                  color: white;
                  font-size: 1.1rem;
                  line-height: 1.4rem;
                }

                &--options {
                  & > img {
                    height: 1.4rem;
                    transition: all 0.3s ease-in;
                    margin-left: 0.6rem;
                    cursor: pointer;

                    &:hover {
                      transform: scale(1.1);
                    }
                  }
                }
              }

              &--classes {
                &--manage {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  & > h4 {
                    color: white;
                    margin: 1rem 0;
                    font-weight: bold;
                    font-size: 1.2rem;
                  }
                }

                .classes {
                  padding: 1.4rem;
                  margin-bottom: 1rem;

                  border-radius: 22px;
                  background: #241F4055;

                  &--name-option {
                    display: flex;
                    justify-content: space-between;

                    & > span {
                      color: white;
                      font-size: 1.05rem;
                      line-height: 1.4rem;
                    }

                    &--options {
                      & > img {
                        height: 1.4rem;
                        transition: all 0.3s ease-in;
                        margin-left: 0.6rem;
                        cursor: pointer;

                        &:hover {
                          transform: scale(1.1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &--buttons {
          width: 100%;
          gap: 1rem;
          margin-top: 2rem;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.input-container {
  margin: 0.75rem 0;
}

.not-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  h5 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
}

app-loading {
  width: 100%;
}

.modal-modules {
  animation: toup 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.6);

  &--content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;

    border-radius: 22px;
    background-color: #121128;

    & > .close {
      transition: all 0.3s ease-in-out;

      height: 2rem;
      position: absolute;

      top: -0.75rem;
      right: -0.75rem;

      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--forms {
      display: flex;
      height: 100%;

    }

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      margin-bottom: 1rem;

      h5 {
        font-size: 1.5rem;
        color: white !important;
      }
    }

    &--list {
      overflow: auto;
      flex: 1;

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: white 0 0 no-repeat padding-box;
        border-radius: 1rem;
      }

      h5 {
        width: 100%;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: white;
      }

      app-loading {
        height: 100%;
      }

      .module {
        padding: 1.4rem;
        margin-bottom: 1rem;
        border-radius: 22px;
        background: #241F4055;

        &--name-option {
          display: flex;
          justify-content: space-between;

          & > span {
            color: white;
            font-size: 1.1rem;
            line-height: 1.4rem;
          }

          &--options {
            & > img {
              height: 1.4rem;
              transition: all 0.3s ease-in;
              margin-left: 0.6rem;
              cursor: pointer;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

@keyframes toup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.operational-buttons {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 1rem;
}
