<div class="home">
  <div class="home--container">
    <app-navbar></app-navbar>

    <div class="home--container--content">
      <div class="home--container--content--header">
        <app-search-bar-input (onChangeValue)="search($event)"></app-search-bar-input>
        <div *ngIf="!isLogged" class="home--container--content--header--register">
          <h6 [routerLink]="'/login'">Logar</h6>
          <button [routerLink]="'/register'" class="primary-button">Registrar-se</button>
        </div>
        <img [routerLink]="'/user'" *ngIf="isLogged" [src]="user?.imageUrl || 'assets/imgs/register-card-image.jpg'" class="home--container--content--header--user" alt="user" />
      </div>

      <div class="home--container--content--banner">
        <img #img alt="banner-image"
             [src]="this.highlightedCourse?.imageUrl || 'assets/imgs/register-card-image.jpg'"
             (error)="img.src = 'assets/imgs/register-card-image.jpg'"
        />
        <h3>{{ this.highlightedCourse?.name }}</h3>
        <h6>{{ this.highlightedCourse?.category || '-' }}</h6>
        <button [routerLink]="'/course/' + this.highlightedCourse?.id" class="primary-button">
          Ver mais
        </button>
      </div>

      <div class="home--container--content--courses">
        <div class="home--container--content--courses--filters">
          <div (click)="selectCategory(null)" [class.filter-selected]="activatedCategoryIndex === null"  class="filter-tag">
            Todos
          </div>

          <div *ngFor="let category of categoryList; let i = index"
               [class.filter-selected]="i === activatedCategoryIndex"
               (click)="selectCategory(i)"
               class="filter-tag">
            {{ category }}
          </div>
        </div>

        <div class="home--container--content--courses--list">
          <app-course-card *ngFor="let course of courseList"
                           [backgroundImage]="course.imageUrl || 'assets/imgs/register-card-image.jpg'"
                           [courseName]="course.name || '-'"
                           [tagName]="course.category || '-'"
                           (click)="goToCourse(course?.id)"
          ></app-course-card>
        </div>


        <div class="home--container--content--courses--not-content" *ngIf="!isLoadingCourses && courseList.length === 0">
          <h5>Nenhum curso encontrado!</h5>
        </div>

        <app-loading *ngIf="isLoadingCourses" [size]="60"></app-loading>
      </div>
    </div>
  </div>

  <div class="home--footer">
    <img alt="log" src="assets/icons/logo-extended.svg" />
    <p>O melhor lugar para você evoluir.</p>

    <span>© 2022</span>
  </div>

</div>
